chatwork:
  email: 'mail_address_here'
  pass: 'password_here'
  room_ids:
    - 'rid_here'
notifiers:
  - name: simple
  #  io: '/path/to/log_file'
  #  rotate: 'Ruby Logger rotate option'
  #- name: slack
  #  domain: 'domanin_here'
  #  token: 'access_token_here'
