chatwork:
  email: 'mail_address_here'
  pass: 'password_here'
  rooms:
    -
      id: 'room_id_here'
      name: 'room_name_here'
notifiers:
  -
    name: simple
  #  io: '/path/to/log_file'
  #  rotate: 'Ruby Logger rotate option'
  #-
  #  name: slack
  #  subdomain: 'subdomanin_here' # https://[subdomain].slack.com
  #  token: 'access_token_here'   # incoming-webhook access token
