chatwork:
  email: 'mail_address_here'
  pass: 'password_here'
  rooms:
    - 'room_id_here'
notifiers:
  -
    name: simple
  #  io: '/path/to/log_file'
  #  rotation: 'Ruby Logger rotation option'
  #-
  #  name: slack
  #  token: 'token_here'      # API authentication token
  #  channel: 'channel_here'  # public channel or private group or @user
